/* resets from piccalil */
*,
*::before,
*::after {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
  font: inherit;
  /* outline: 1px solid limegreen !important; */
}

img,
picture,
svg,
video {
  display: block;
  max-width: 100%;
}

ul,
ol {
  list-style: none;
}

html:focus-within {
  scroll-behavior: smooth;
}

body {
  text-rendering: optimizeSpeed;
  line-height: 1.5;
  font-family: "Poppins", sans-serif;
  margin: 0 auto;
  width: clamp(375px, 100vw, 650px);
}

a:not([class]) {
  text-decoration-skip-ink: auto;
}

@media (prefers-reduced-motion: reduce) {
  html:focus-within {
    scroll-behavior: auto;
  }

  *,
  *::before,
  *::after {
    animation-duration: 0.01ms !important;
    animation-iteration-count: 1 !important;
    transition-duration: 0.01ms !important;
    scroll-behavior: auto !important;
  }
}

:root {
  --primary-clr: #fbfbfb;
  --secondary-light-clr: #ffffff;
  --secondary-medium-clr: #ebebf7;

  --popup-clr: limegreen;

  --font-primary-clr: #9f9f9c;
  --font-secondary-crl: #809dc7;
  --font-primary-active-clr: #353535;
  --font-dark-clr: #000;

  --btn-primary-clr: #4e61c7;
  --btn-secondary-light: #fff;
  --btn-secondary-red: #e24200;
}

/* general class */

section {
  background-color: var(--primary-clr);
  padding: 2em;
  display: none;
  position: relative;
  height: clamp(700px, 90vh, 900px);
  overflow: scroll;
  color: var(--font-primary-clr);
  font-size: 0.8rem;
}

.section--active {
  display: block;
}

/* chart */

.chart {
  width: 80%;
  display: flex;
  margin: 2em auto;
  flex-wrap: wrap;
}

.chart__part {
  flex-basis: 20%;
  min-height: 20px;
  position: relative;
}

.chart__part--active::before {
  content: "\f0d7";
  color: #261474;
  font-family: "Font Awesome 6 Free";
  font-weight: 900;
  text-decoration: none;
  position: absolute;
  top: -50%;
  transform: translateX(-50%);
  left: 50%;
}

.chart__part--0,
.measurement--0 {
  background-color: #00b9cf;
}

.chart__part--1,
.measurement--1 {
  background-color: #00c567;
}

.chart__part--2,
.measurement--2 {
  background-color: #86c328;
}

.chart__part--3,
.measurement--3 {
  background-color: #f59f02;
}

.chart__part--4,
.measurement--4 {
  background-color: #e24200;
}

.chart__text {
  order: 2;
  margin-top: 1rem;
  width: 100%;
  display: none;
}

.chart__text--active {
  display: block;
}

/* form */

.form {
  /* font-size: 1em; */
  background-color: var(--secondary-light-clr);
  padding: 1em;
}

.form__row {
  display: flex;
  margin-bottom: 0.4rem;
  flex-wrap: wrap;
  justify-content: center;
}

.form__row > input {
  min-width: 300px;
}

.form__input {
  padding: 0.5rem 0.7rem;
  border: 1px solid #ddd;
  border-radius: 0.5rem;
  color: var(--font-primary-clr);
  text-align: center;
  font-size: 1.1em;
}

.form__label {
  flex: 0 1 30%;
  text-align: center;
}

.form__label > p {
  font-size: 0.8em;
}

.form__popup {
  background-color: var(--popup-clr);
  position: absolute;
  /* text-align: center; */
  left: 50%;
  transform: translateX(-65%);
  bottom: 10px;
  font-size: 1.2rem;
  padding: 0.5rem;
  transition: opacity 1s;
  border-radius: 15px;
  opacity: 0;
  visibility: hidden;
}

.form__popup--active {
  opacity: 0.7;
  visibility: visible;
}

.form__submit {
  margin: 2em auto;
  border: 1px solid #ddd;
  border-radius: 25px;
  text-align: center;
  width: 60%;
  height: 3.5em;
  display: block;
  cursor: pointer;
  background-color: var(--btn-primary-clr);
  color: var(--btn-secondary-light);
}

.grid-table {
  display: grid;
  grid-template-rows: repeat(6, 1fr);
  grid-template-columns: 4fr 1fr 1fr;
  border: 1px solid var(--secondary-medium-clr);
  padding: 0.5em;
  font-weight: 700;
  background-color: var(--secondary-light-clr);
}

.grid-header {
  grid-column: 1 / 4;
  display: grid;
  grid-template-columns: 4fr 1fr 1fr;
  margin-bottom: 0.5em;
  border-bottom: 2px solid var(--secondary-medium-clr);
}

.grid-row {
  display: flex;
  grid-column: 2/4;
}

.grid-row > p {
  flex: 1 1 50%;
}

.grid-type {
  grid-row: 2/7;
  grid-column: 1/2;
  display: grid;
}

.grid-row--ranges {
  grid-column: 2/4;
}

.pressure-name--active {
  font-weight: 900;
  color: var(--font-primary-active-clr);
}

.pressure-name::before {
  content: " ";
  display: inline-block;
  text-align: center;
  width: 0.8em;
  height: 0.8em;
  border-radius: 50%;
  margin: auto 5px auto 0;
}

.pressure-name[data-pre="0"]::before {
  background-color: #00b9cf;
}
.pressure-name[data-pre="1"]::before {
  background-color: #00c567;
}
.pressure-name[data-pre="2"]::before {
  background-color: #86c328;
}
.pressure-name[data-pre="3"]::before {
  background-color: #f59f02;
}
.pressure-name[data-pre="4"]::before {
  background-color: #e24200;
}

/* section 2 */

.section--2 {
}

.section2__nav {
  color: var(--font-dark-clr);
}

.section2__select {
  box-shadow: 0 10px 25px rgba(0, 0, 0, 0.2);
  font-size: 1.1em;
  padding: 0.75em 1.25em;
  background-color: var(--btn-secondary-light);
  color: var(--font-dark-clr);
  border: 0;
}

.section2__date-picker {
  background: #fff;
  cursor: pointer;
  padding: 5px 10px;
  border: 1px solid #ccc;
  width: 40%;
  margin-left: auto;
}

.measurements {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 0.5rem;
}

.measurement {
  min-width: 80%;
  display: flex;
  padding: 1em;
  justify-content: space-between;
  align-items: center;
  background-color: var(--secondary-light-clr);
  border-radius: 20px;
  border: 1px solid var(--font-primary-clr);
}

.measurement--hidden {
  display: none;
}

.measurement__pres {
  width: 5rem;
  height: 5rem;
  line-height: 2.25rem;
  padding: 0.25rem;
  border-radius: 50%;
  text-align: center;
}

.measurement__desc {
  text-align: right;
}

.measurement__desc span {
  margin-right: 0.35rem;
}

.form2 {
  background-color: var(--secondary-light-clr);
  border: 1px solid black;
  border: 0;
  font-size: 0.9rem;
}

.modal {
  margin: auto;
}

.modal::backdrop {
  background: rgb(0 0 0 / 0.4);
}

.form2--cnt {
  background-color: var(--btn-primary-clr);
  padding: 1.25em;
  border-bottom: 1px solid var(--font-primary-clr);
  color: var(--btn-secondary-light);
}

.form2__input {
  max-width: 3em;
  background-color: transparent;
  border: 0;
  color: var(--btn-secondary-light);
}

.form2--cnt > input:nth-child(1) {
  text-align: right;
}

.form2--cnt > input:nth-child(2) {
  text-align: left;
  margin-left: 0.5em;
}

/* .form2--cnt > input:nth-child(2)::before {
  content: "U+2044";
  display: inline-block;
  width: 1em;
  height: 1em;
} */

.preasure-unit {
  font-size: 0.4em;
}

.form2_details {
  font-size: 0.7em;
  text-align: center;
  margin-top: 0.3em;
}

.form2--btn-cnt {
  display: flex;
}

.form2__btn {
  margin-top: auto;
  border: none;
  background: transparent;
  margin: 3rem auto 0;
  color: var(--btn-secondary-red);
  cursor: pointer;
  padding: 0.3em;
}

/* section 3 */

.section--3 {
  position: static;
}

.average-cnt {
  height: 400px;
  width: 100%;
  display: flex;
  justify-content: space-evenly;
}

.circle-average {
  height: 105px;
  width: 105px;
  position: relative;
  border-radius: 50%;
  background: conic-gradient(#7d2ae8 3.6deg, #ededed 0deg);
  display: flex;
  justify-content: center;
  align-items: center;
}

.circle-average::before {
  content: "";
  position: absolute;
  height: 90px;
  width: 90px;
  border-radius: 50%;
  background-color: #fff;
}

.circle-text-cnt {
  position: relative;
  font-size: 1.2em;
  font-weight: 600;
  color: #7d2ae8;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

.chart-cnt {
  position: relative;
  margin: 0 auto;
  width: 500px;
  min-height: 500px;
  /* width: 90%;
  min-height: 75%; */
}

/* footer */

.nav {
  display: flex;
  justify-content: space-around;
  align-items: center;
  background-color: var(--secondary-medium-clr);
}

.btn--nav {
  font-size: 1.2rem;
  border: 0;
  background-color: transparent;
  padding: 0;
  padding: 0.5rem 0.7rem;
  cursor: pointer;
  color: var(--font-secondary-crl);
}

.btn--nav--active {
  color: var(--btn-primary-clr);
}
