/* resets from piccalil */
*,
*::before,
*::after {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
  font: inherit;
  /* outline: 1px solid limegreen !important; */
}

img,
picture,
svg,
video {
  display: block;
  max-width: 100%;
}

ul,
ol {
  list-style: none;
}

html:focus-within {
  scroll-behavior: smooth;
}

body {
  min-height: 100vh;
  text-rendering: optimizeSpeed;
  line-height: 1.5;
  font-family: "Poppins", sans-serif;
  max-width: 700px;
  margin: 0 auto;
}

a:not([class]) {
  text-decoration-skip-ink: auto;
}

@media (prefers-reduced-motion: reduce) {
  html:focus-within {
    scroll-behavior: auto;
  }

  *,
  *::before,
  *::after {
    animation-duration: 0.01ms !important;
    animation-iteration-count: 1 !important;
    transition-duration: 0.01ms !important;
    scroll-behavior: auto !important;
  }
}

:root {
  --main-color: #f3f3f3;
  --secondary-color: #adaaaa;
  --popup-clr: limegreen;
}

/* general class */

section {
  background-color: var(--main-color);
  padding: 2rem;
  display: none;
  position: relative;
  min-height: 40vh;
  max-height: 90vh;
}

.section--active {
  display: block;
}

/* chart */

.chart {
  width: 80%;
  display: flex;
  margin: 2rem auto;
  flex-wrap: wrap;
}

.chart__part {
  flex-basis: 20%;
  min-height: 35px;
  position: relative;
}

.chart__part--active::before {
  content: "\f0d7";
  color: #261474;
  font-family: "Font Awesome 6 Free";
  font-weight: 900;
  text-decoration: none;
  position: absolute;
  top: -50%;
  transform: translateX(-50%);
  left: 50%;
}

.chart__part--0 {
  background-color: #00b9cf;
}

.chart__part--1 {
  background-color: #00c567;
}

.chart__part--2 {
  background-color: #86c328;
}

.chart__part--3 {
  background-color: #f59f02;
}

.chart__part--4 {
  background-color: #e24200;
}

.chart__text {
  order: 2;
  margin-top: 1rem;
  width: 100%;
  display: none;
}

.chart__text--active {
  display: block;
}

/* form */

.form {
  font-size: 1.2rem;
}

.form__row {
  display: flex;
  margin-bottom: 0.4rem;
}

.form__input {
  padding: 0.5rem 0.7rem;
  flex-basis: 100%;
  flex-shrink: 1;
  border: 1px solid #ddd;
  border-radius: 0.5rem;
}

.form__input--column {
}

.form__label {
  flex: 1 0 25%;
  text-align: right;
}

.form__list-cnt {
  display: flex;
  justify-content: space-between;
}

.form__input--row {
}

.form__popup {
  background-color: var(--popup-clr);
  position: absolute;
  /* text-align: center; */
  left: 50%;
  transform: translateX(-65%);
  bottom: 10px;
  font-size: 1.2rem;
  padding: 0.5rem;
  transition: opacity 1s;
  border-radius: 15px;
  opacity: 0;
  visibility: hidden;
}

.form__popup--active {
  opacity: 0.7;
  visibility: visible;
}

.form__submit {
  margin: 2rem auto;
  border: 1px solid #ddd;
  border-radius: 0.5rem;
  text-align: center;
  width: 60%;
  height: 3.5rem;
  display: block;
  cursor: pointer;
}

.grid-table {
  display: grid;
  grid-template-rows: repeat(6, 1fr);
  grid-template-columns: repeat(3, 1fr);
  border: 2px black solid;
}

.grid-header {
  grid-column: 1 / span 3;
  display: grid;
  grid-template-columns: repeat(3, 1fr);
}

.grid-row {
  display: flex;
  grid-column: 2/4;
}

.grid-row > p {
  flex: 1 1 50%;
}

.grid-row--1 {
  grid-row: 2/7;
  grid-column: 1/2;
  display: grid;
}

.grid-row--2 {
  display: flex;
}

.pressure-name--active {
  background-color: aqua;
}

/* section 2 */

.section--2 {
  position: relative;
}

.measurements {
  display: flex;
  flex-direction: column;
  gap: 0.5rem;
}

.measurement {
  display: flex;
  padding: 1rem;
  justify-content: space-around;
  align-items: center;
  background-color: #f9f9f9;
}

.measurement__pres {
  background-color: yellow;
  width: 5rem;
  height: 5rem;
  line-height: 2.25rem;
  padding: 0.25rem;
  border-radius: 50%;
  text-align: center;
}

.measurement__desc {
  text-align: right;
}

.measurement__desc span {
  margin-right: 0.35rem;
}

.section2__form {
  background-color: #f59f02;
  border: 1px solid black;
  position: absolute;
  top: 45%;
  left: 20%;
  min-height: 15vh;
  display: none;
}

.section2__form--active {
  display: block;
}

.section2__form--cnt {
  display: flex;
}

.section2__form--cnt > input {
  flex: 0 1 25%;
}

/* footer */

.nav {
  display: flex;
  justify-content: space-around;
  align-items: center;
  background-color: var(--secondary-color);
}

.btn--nav {
  font-size: 1.2rem;
  border: 0;
  background-color: transparent;
  padding: 0;
  padding: 0.5rem 0.7rem;
  cursor: pointer;
}
