/* resets from piccalil */
*,
*::before,
*::after {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
  font: inherit;
  /* outline: 1px solid limegreen !important; */
}

img,
picture,
svg,
video {
  display: block;
  max-width: 100%;
}

ul,
ol {
  list-style: none;
}

html:focus-within {
  scroll-behavior: smooth;
}

body {
  text-rendering: optimizeSpeed;
  line-height: 1.5;
  font-family: "Poppins", sans-serif;
}

*:focus {
  outline: 1px;
}

a:not([class]) {
  text-decoration-skip-ink: auto;
}

@media (prefers-reduced-motion: reduce) {
  html:focus-within {
    scroll-behavior: auto;
  }

  *,
  *::before,
  *::after {
    animation-duration: 0.01ms !important;
    animation-iteration-count: 1 !important;
    transition-duration: 0.01ms !important;
    scroll-behavior: auto !important;
  }
}

:root {
  --primary-clr: #fbfbfb;
  --secondary-light-clr: #ffffff;
  --secondary-medium-clr: #ebebf7;

  --popup-clr: #c3de88;

  --font-primary-clr: #707070;
  --font-secondary-crl: #809dc7;
  --font-primary-active-clr: #353535;
  --font-dark-clr: #000;

  --btn-primary-clr: #4e61c7;
  --btn-secondary-light: #fff;
  --btn-secondary-red: #e24200;
}

/* general class */

.cnt {
  max-width: 750px;
  /* min-width: 300px; */
  /* display: flex; */
  flex-direction: column;
  min-height: 100vh;
  min-height: 100dvh;
  grid-template-rows: 1fr auto;
  margin: 0 auto;
  display: grid;
}

main {
  min-height: 100%;
}

section {
  background-color: var(--primary-clr);
  padding: 1em;
  display: none;
  position: relative;
  color: var(--font-primary-clr);
  font-size: 0.8rem;
  display: none;
  flex-direction: column;
  justify-content: space-around;
}

.section--active {
  /* display: flex; */
  display: block;
  /* display: grid; */
}

.section--1 {
  grid-template-rows: auto 1fr auto;
  /* min-width: 320px; */
  max-width: 100%;
}

.section--2 {
  grid-template-rows: auto 1fr;
}

.section--3 {
}

/* chart */

.chart {
  width: 80%;
  display: flex;
  margin: 2em auto;
  flex-wrap: wrap;
}

.chart__part {
  flex-basis: 20%;
  min-height: 20px;
  position: relative;
}

.chart__part--active::before {
  content: "\f0d7";
  color: #261474;
  font-family: "Font Awesome 6 Free";
  font-weight: 900;
  text-decoration: none;
  position: absolute;
  top: -50%;
  transform: translateX(-50%);
  left: 50%;
}

.chart__part--0,
.measurement--0 {
  background-color: #00b9cf;
}

.chart__part--1,
.measurement--1 {
  background-color: #00c567;
}

.chart__part--2,
.measurement--2 {
  background-color: #86c328;
}

.chart__part--3,
.measurement--3 {
  background-color: #f59f02;
}

.chart__part--4,
.measurement--4 {
  background-color: #e24200;
}

.chart__text {
  order: 2;
  margin-top: 1rem;
  width: 100%;
  display: none;
}

.chart__text--active {
  display: block;
}

/* form */

.form {
  background-color: var(--secondary-light-clr);
  padding: 1em;
  font-size: 1.1em;
}

.form-row-cnt {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-around;
}

.form__row {
  margin: 0.25em;
}

.form__inputs-columns {
  display: flex;
  justify-content: space-evenly;
  text-align: center;
  flex-wrap: wrap;
  margin-bottom: 1em;
  border-bottom: 1px solid var(--secondary-medium-clr);
}

.form__inputs-row {
  display: flex;
  justify-content: space-evenly;
  flex-wrap: wrap;
}

.form__input {
  padding: 0.5em 0.7em;
  border: 1px solid #ddd;
  color: var(--font-primary-clr);
  text-align: center;
  font-size: 1em;
  border: none;
  background-color: transparent;
  margin: 0.25em;
}

.form__input--times {
  padding: 0.5;
}

.form__label {
  flex: 0 1 30%;
  text-align: center;
  font-size: 0.9em;
}

.form__label > p {
  font-size: 0.7em;
}

.form__popup {
  background-color: var(--popup-clr);
  position: absolute;
  /* text-align: center; */
  left: 50%;
  transform: translateX(-65%);
  bottom: 10px;
  font-size: 1.2rem;
  padding: 0.5rem;
  transition: opacity 1s;
  border-radius: 15px;
  opacity: 0;
  display: none;
}

.form__popup--active {
  opacity: 0.7;
  display: block;
}

.form__submit {
  margin: 1.5em auto;
  border: 1px solid #ddd;
  border-radius: 25px;
  text-align: center;
  width: 40%;
  padding: 0.5em;
  display: block;
  cursor: pointer;
  background-color: var(--btn-primary-clr);
  color: var(--btn-secondary-light);
}

.grid-table {
  display: grid;
  grid-template-rows: repeat(6, 1fr);
  grid-template-columns: 4fr 1fr 1fr;
  border: 1px solid var(--secondary-medium-clr);
  padding: 0.5em;
  font-weight: 400;
  background-color: var(--secondary-light-clr);
  font-size: 0.8em;
}

.grid-header {
  grid-column: 1 / 4;
  display: grid;
  grid-template-columns: 4fr 1fr 1fr;
  margin-bottom: 0.5em;
  border-bottom: 2px solid var(--secondary-medium-clr);
  font-size: 1em;
}

.grid-row {
  display: flex;
  grid-column: 2/4;
  padding: 0.25em 0;
  letter-spacing: 1.5px;
}

.grid-row > p {
  flex: 1 1 50%;
}

.grid-type {
  grid-row: 2/7;
  grid-column: 1/2;
  display: grid;
}

.grid-row--ranges {
  grid-column: 2/4;
}

.pressure-name--active {
  font-weight: 900;
  color: var(--font-primary-active-clr);
}

.pressure-name::before {
  content: " ";
  display: inline-block;
  text-align: center;
  width: 0.8em;
  height: 0.8em;
  border-radius: 50%;
  margin: auto 5px auto 0;
}

.pressure-name[data-pre="0"]::before {
  background-color: #00b9cf;
}
.pressure-name[data-pre="1"]::before {
  background-color: #00c567;
}
.pressure-name[data-pre="2"]::before {
  background-color: #86c328;
}
.pressure-name[data-pre="3"]::before {
  background-color: #f59f02;
}
.pressure-name[data-pre="4"]::before {
  background-color: #e24200;
}

/* section 2 */

.section2__nav {
  color: var(--font-dark-clr);
  display: flex;
  justify-content: space-between;
  margin-bottom: 1em;
}

.section2__select,
.section2__date-picker {
  box-shadow: 0 10px 25px rgba(0, 0, 0, 0.2);
  background-color: var(--btn-secondary-light);
  padding: 0.75em 1.25em;
  font-size: 1.1em;
  color: var(--font-dark-clr);
  border: 0;
  cursor: pointer;
  min-width: 15%;
}

.measurements {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 0.5rem;
  overflow-y: scroll;
  max-height: 75vh;
}

.measurement {
  width: clamp(250px, 70%, 700px);
  display: flex;
  padding: 0.8em;
  justify-content: space-between;
  align-items: center;
  background-color: var(--secondary-light-clr);
  border-radius: 10px;
  border: 1px solid var(--font-secondary-crl);
  transition: transform 0.3s ease-in-out;
}

.measurement:hover {
  transform: scale(0.9);
}

.measurement--active {
  transform: scale(0.9);
}

.measurement--hidden {
  display: none;
}

.measurement__pres {
  width: 5em;
  height: 5em;
  line-height: 2.25em;
  padding: 0.25em;
  border-radius: 50%;
  display: flex;
  flex-direction: column;
  align-items: center;
  color: var(--btn-secondary-light);
}

.measurement__desc {
  text-align: right;
}

.measurement__desc span {
  margin-right: 0.35em;
}

.measurement__type {
  font-size: 1.1em;
}

.form2 {
  background-color: var(--secondary-light-clr);
  border: 1px solid black;
  border: 0;
  font-size: 0.9rem;
}

.modal {
  margin: auto;
  border: 2px solid var(--font-primary-clr);
}

.modal::backdrop {
  background: rgb(0 0 0 / 0.4);
}

.form2--cnt {
  background-color: var(--btn-primary-clr);
  padding: 1.25em;
  border-bottom: 1px solid var(--font-primary-clr);
  color: var(--btn-secondary-light);
}

.form2__input {
  background-color: transparent;
  border: 0;
  color: var(--btn-secondary-light);
}

.form2--cnt > input:nth-child(1) {
  text-align: right;
}

.form2--cnt > input:nth-child(2) {
  text-align: left;
  margin-left: 0.5em;
}

.preasure-unit {
  font-size: 0.6em;
}

.form2_details {
  font-size: 0.85em;
  text-align: center;
  margin-top: 0.5em;
}

.form2--btn-cnt {
  display: flex;
}

.form2__btn {
  margin-top: auto;
  border: none;
  background: transparent;
  margin: 3rem auto 0;
  color: var(--btn-secondary-red);
  cursor: pointer;
  padding: 0.8em;
}

/* section 3 */

.section--3 {
  position: static;
}

.average-cnt {
  display: flex;
  justify-content: space-evenly;
  margin-bottom: 2em;
  flex-wrap: wrap;
}

.circle-average {
  height: 105px;
  width: 105px;
  position: relative;
  border-radius: 50%;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-wrap: wrap;
}

.circle-average::before {
  content: "";
  position: absolute;
  height: 90px;
  width: 90px;
  border-radius: 50%;
  background-color: #fff;
}

.circle-average--sys {
  background: conic-gradient(#fa5252 3.6deg, #ededed 0deg);
}
.circle-average--dia {
  background: conic-gradient(#c3de88 3.6deg, #ededed 0deg);
}
.circle-average--puls {
  background: conic-gradient(#7ed1f9 3.6deg, #ededed 0deg);
}

.circle-text--sys {
  color: #fa5252;
}
.circle-text--dia {
  color: #c3de88;
}
.circle-text--puls {
  color: #7ed1f9;
}

.circle-text-cnt {
  position: relative;
  font-weight: 600;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

.circle-text-cnt > span:nth-child(1) {
  color: var(--font-primary-clr);
}

.circle-text-cnt > span:nth-child(2) {
  font-size: 1.7em;
  color: var(--font-primary-active-clr);
}

.section3__btn-cnt {
  margin: 2em 0;
  display: flex;
  justify-content: space-evenly;
}

.section3__btn {
  display: inline-block;
  background: transparent;
  border: none;
  font-size: 1.3em;
  color: var(--font-primary-clr);
  padding: 1em;
  font-weight: 700;
}

.section3__btn--active {
  color: var(--btn-primary-clr);
}

.chart-cnt {
  position: relative;
  margin: 0 auto;
  max-width: 90%;
  min-height: 170px;
}

/* footer */

.nav {
  display: flex;
  justify-content: space-around;
  align-items: center;
  background-color: var(--secondary-medium-clr);
}

.btn--nav {
  font-size: 0.8em;
  border: 0;
  background-color: transparent;
  padding: 0;
  padding: 0.5em 0.7em;
  cursor: pointer;
  color: var(--font-secondary-crl);
}

.btn--nav--active {
  color: var(--btn-primary-clr);
}

@media (min-width: 770px) {
  .section {
    font-size: 1.1rem;
  }

  .form__submit {
    margin: 1.5em auto;
  }

  .measurements {
    overflow: visible;
    max-height: none;
  }

  .circle-average {
    height: 125px;
    width: 125px;
  }

  .circle-average::before {
    height: 110px;
    width: 110px;
  }

  .circle-text-cnt > span:nth-child(2) {
    font-size: 1.3em;
    color: var(--font-primary-active-clr);
  }

  .section2__select,
  .section2__date-picker {
    padding: 0.5em 0.75em;
    font-size: 1em;
  }

  .btn--nav {
    font-size: 1em;
    font-weight: 500;
  }
} ;
